*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:'Poppins', sans-serif;
    ;
}
:root{
    /* colors */
    --blue-main: #1d9bf0;
    --gray-main: #eff3f4;
    --blue-secondary : #38a7f2;
    --gray-secondary : #f7f9f9
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
aside{
    display: none;
}
.header{
    position: sticky;
    top: -1px;
    box-shadow: 0px 0px 25px #fff;
    backdrop-filter: blur(10px);
    z-index: 2;
}
/* Seccion de twitter menu */
.twitter__menu{
    width: 100%;
    display: flex;
    align-items: center;
    height: 52px;   
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input{
    display: inline;
}
.menu__logo{
    width: 30px;
    height: 20px;
    margin:0  30px 0 20px;
}
.menu__search-bar{
    display: inline-flex;
    height: 30px;
    width: 100%;
    min-width: 160.83px;
    background-color: var(--gray-main);
    border-radius: 100px;
}
.menu__search-bar > figure{
    height: 15px;
    width: 35px;
    align-self: center;
    padding:0 10px;
}
.menu__search-bar > input{
    border: none;
    width: 100%;
    padding: 0 10px;
    background-color: var(--gray-main);
    border-radius: 0 100px 100px 0;
}
.menu__more{
    width: 30px;
    height: 20px;
    margin:0  20px 0 30px;
}
/* Ocultos */
.menu__explore{
    display: none;
}
.menu__config{
    display: none;
}
/* Fin de la seccion */

/* Seccion twitter__register */
.twitter__register{
    width: 95%;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0 12px;
}
.register__buttons{
    display: flex;
    justify-content: space-between;
}
.button{
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    height: 32px;
    font-size: 1.2rem;
    font-weight: bold;
}
.button--login{
    width: 48%;
    color: var(--blue-main);
    border: solid 2px var(--gray-main);
}
.button--signUp{
    width: 48%;
    background-color: var(--blue-main);
    color: #fff;
}
/* Ocultos */
.register__text{
    display: none;
}


/* --- Seccion twitter__banner --- */
.twitter__banner{
    width: 100%;
}
.banner__header{
    display: none;
}
.banner__img{
    min-height: 106px;
    width: 100%;
}
.twitter__profile{
    width: 100%;
    padding: 0 16px;
    min-height: 250px;
    margin: 10px 0;
}
.follow{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 47px;
}
.follow__container{
    position: relative;
    width: 23.5%;
    height: 100%;
}
.container__img{
    position: absolute;
    bottom: 10px;
    background-color: transparent;
}
.container__img > img{
    border-radius: 50%;
    border: solid #fff;
}
.follow__button{
    height: 36px;
    width: 86px;
    color:  #fff;
    background-color: #000;
    border-radius: 100px;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
}
.tittle-profile{
    padding-bottom: 12px;   
}
.tittle-profile__name{
    font-size: 1.8rem;
    font-weight: bold;
    color: #0f1419;
}
.tittle-profile__username{
    color: #536471;
    font-size: 1.3rem;
}
.description-profile{
    font-size: 1.35rem;
    color: #0f1419;
    font-weight: 400;
    margin-bottom: 12px;
}
.link{
    color: var(--blue-main);
}
.description-profile p:nth-child(3){
    padding-bottom: 20px;
}
.dates-profile{
    font-size: 1.3rem;
    color: #536471;
    margin-bottom: 12px;
}
.dates-profile > p{
    
    padding-right: 12px;
    display: inline-block;
}
.dates-profile__icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: cover;
    vertical-align: middle;
}
.dates-profile__icon--location{
    background-image: url(/img/location_16px.png);
}
.dates-profile .dates-profile__icon--ancle{
    background-image: url(/img/link_26px.png);
    width: 14px;
    height: 14px;
}
.dates-profile__icon--calendar{
    background-image: url(/img/calendar_24px.png);
}
.followers{
    font-size: 1.2rem;
    color: #536471;
    margin-bottom: 20px;
}
.followers > p{
    display: inline-block;
    padding-right: 15px;
    font-size: 1.3rem;
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    height: 52px;
    font-size: 1.4rem;
    overflow-x: scroll;
}
.social-media__navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.social-media__navigation > li:nth-child(2){
    min-width: 150px;
}
.social-media__navigation > li{
    box-sizing: border-box;
    padding-right: 28px;
}
.twitter__posts{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    border-top: solid var(--gray-main) 1px;
    padding: 10px 0;
}
.publications__sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80px;
}
.publications__pin-icon{
    height: 15px;
    width: 20px;
    margin-block-end: 10px;
}
.publications__container-img{
    width: 55px;
    height: 55px;
}
.publications__container-img > img{
    width:100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
}
.publications__contain{
    display: flex;
    flex-direction: column;
    min-width: 240px;
    padding: 0 12px;
}
.pinned-tweet{
    font-size: 1.2rem;
    color: #536471;
    font-weight: bold;
}
.post__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__title--name{
    width: 58%;
    font-weight: bold;
    font-size: 1.35rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.post__title--username{
    width: 10%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.post__title--date{
    width: 32%;
    font-size: 1.3rem;
    color: #536471;
}
.post__text{
    padding:5px 10px 0 0;
    font-size: 1.3rem;
}
iframe{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    border-radius: 20px;
}
.post__icons{
    margin-top: 16px;
    font-size: 1.2rem;
}
.icons__bar{
    display: flex;
    justify-content: space-between;
}
.bar__item{
    min-width: 30px;
    min-height: 15px;
}
.bar__item span{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.bar__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.twitter__recommended{
    display: none;
}
