main{
    position: relative;
    display: flex;
    max-width: 687px;
    margin: 0 auto;
}
aside{
    display: inline;
    width: 11%;
    max-width: 60px;
}
.aside__img--explore{
    display: none;
}
.aside__img--explore > p{
    display:none;
}
.aside__img--settings > p{
    display:none;
}
.aside{
    display: flex;
    position: sticky;
    top: -1px;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
    min-height: 100vh;
    background-color: inherit;
}
.aside__img{
    position: sticky;
    top: -1px;
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
}
.aside__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    width: 89%;
    border: 0.5px solid #eff3f4;
}
.header{
    display: none;
}
.banner__header{
    display: flex;
    position:sticky;
    top: -0.5px;
    box-shadow: 0px 0px 25px #fff;
    backdrop-filter: blur(10px);
    z-index: 2;
}
.header__arrow-back{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.header__arrow-back > img{
    width: 20px;
    height: 20px;
}
.header__text{
    display: flex;
    width: 78%;
    justify-content: center;
    flex-direction: column;
}
.tittle-profile__name-header{
    font-size: 2.1rem;
}
.header__text sub{
    font-size: 1.2rem;
    color: #536471;
}
footer{
    position: fixed;
    left:0px;
    bottom:0px;
    height: 70px;
    width: 100vw;
    background-color: var(--blue-main);
}
.footer__text{
    display: none;
}
.register__buttons--footer{
    width: 100%;
    align-items: center;
    padding: 20px;
}
.button__footer--login{
    color: #fff;
}
.button__footer--signUp{
    color: #000;
    background-color: #fff;
}

@media (min-width: 706px){
    footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer__text{
        display: flex;
        flex-direction: column;
        width: 313px;
        color: #fff;
    }
    .footer__p1{
        font-size: 2rem;
        font-weight: bold;  
    }
    .footer__p2{
        font-size: 1.3rem;
    }
    .register__buttons--footer{
        width: 250px;
    }
    footer  .button{
        height: 40px;
    }

}